.nav {
  &__section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
  }

  &__logo {
    display: flex;
    width: 100%;
    max-width: 1800px;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    font-size: 32px;
  }

  &__container {
    display: flex;
    width: 100%;
    max-width: 1800px;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }

  &__ul {
    display: flex;
    width: 100%;

    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;

  }

  &__li {
    display: flex;
    width: 100%;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
